.c-flash-message {
    text-align: center;
    font-size: 1rem;
    line-height: 3;
    position: fixed;
    background-color: #3fdcff8f;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
    z-index: 2;
}
