.p-register {
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
    @include mq(md) {
    }
    @include mq() {  
    }
    &__title {
        font-size: 1.5rem;
        @include mq(md) {
        }

        @include mq() {  
        }
    }

    &__form {
        margin: 2% auto 3%;
        width: 40%;
        @include mq(){
            width: 95%;
        }
        & form{
            padding: 0 5% 5%;
            box-shadow: 5px 5px 20px 0 rgba(75, 75, 75, 0.5);
            border-radius: 20px;
            background: #fff;
        }

        &-day {
            padding-top: 5%;
            width: 100%;
            & input{
                width: 40%;
                text-align: center;
                height: 30px;
                @include mq(){
                    font-size: 1rem;
                    width: 60%;
                }
            }
            & strong{
                display: block;
                color: #e21313;
                font-size: 1rem;
                @include mq(){
                    font-size: 0.9rem;
                }
            }
        }
        &-hour {
            padding-top: 2%;
            width: 100%;
            & input{
                width: 40%;
                text-align: center;
                height: 30px;
                @include mq(){
                    font-size: 1rem;
                    width: 60%;
                }
            }
        }
        &-content {
            padding: 2% 0;
            & textarea{
                width: 100%;
                min-height: 200px;
                padding: 2%;
                @include mq(){
                    font-size: 1rem;
                }
            }
            & strong{
                display: block;
                color: #e21313;
                font-size: 1rem;
                @include mq(){
                    font-size: 0.9rem;
                }
            }
        }
        &-submit{
            width: 30%;
            padding: 2%;
            font-size: 1rem;
        }
    }
}
