.p-studyrecord {
    width: 50%;
    font-size: 1.3rem;

    @include mq() {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 5%;
    }

    &__content {
        height: 25%;
        margin: 0% 10% 2% 0%;
        background-color: #fff2cd42;
        border-radius: 10px;
        padding: 0% 5%;

        @include mq() {
            width: 30%;
            margin: 0 1%;
            padding: 0;
            height: 60px;
            align-items: center;
            display: grid;
        }

        &-title {
            padding-top: 1%;
        }

        &-num {
            width: 100%;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;

            @include mq() {
                font-size: 1.2rem;
            }
        }
    }
    
    &__tweet {
        display: flex;
        align-items: center;
        margin-left: 5%;
        height: 12%;
        @include mq() {
            margin: 0 0 5% 5%;
        }
        & a {
            display: contents;
            & img {
                height: 100%;
                @include mq() {
                    width: 15%;
                }
            }
        }
        & p {
            margin-left: 3%;
        }
    }
}
