.p-tweet {
    margin: 3% 0;
    padding: 0 1%;
    font-size: 1rem;
    overflow: hidden;

    @include mq(lg) {
        margin: 5% 0;
    }

    @include mq() {
        padding: 0 3%;
    }

    &__box:not(:nth-of-type(3n)) {
        margin-right: 5%;

        @include mq() {
            margin-right: 0;
        }
    }
    
    &__signup{
        display: inline-block;
        width: 100%;
        margin-bottom: 2%;
        margin-left: 1%;
        &-btn{
            background: #1e5be6;
            width: 150px;
            display: inline-block;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            @include mq() {
                width: 100px;
            }
        }
    }

    &__box {
        margin-bottom: 3%;
        padding: 1%;
        border-radius: 20px;
        display: inline-block;
        width: 30%;
        float: left;
        background: #fff;
        box-shadow: 5px 5px 10px 0 rgba(75, 75, 75, 0.5);

        @include mq() {
            width: 100%;
            margin-bottom: 5%;
            padding: 2% 3%;
        }
        
        &__btn{
            text-align: center;
            justify-content: space-between;
            display: flex;
            margin: 0 2%;
            &-edit, &-delete{
                display: inline-block;
                width: 25%;
                border-radius: 5px;
                padding: 5px;
            }
            &-edit{
                background: #1e5be6;  
            }
            &-delete{
                background: #f3384aeb;
            }
        }

        &__study {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            line-height: 40px;
            margin: 0 3% 3%;

            &-hour {
                width: 50%;
                text-align: right;
                padding-right: 5%;

                @include mq(md) {
                    width: 30%;
                }
            }

            &-day {
                width: 50%;

                @include mq(md) {
                    width: 70%;
                }
            }
        }

        &__text {
            min-height: 400px;
            padding-left: 5%;
            word-break: break-all;
            padding-bottom: 5%;

            @include mq() {
                min-height: initial;
            }
        }
    }
}
